{% extends "stocks/baseCss.html" %}
{% load static %}

{% block title %}Delta{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	<!--	<link rel="stylesheet" href="{% static 'stocks/app.css' %}"> -->
{% endblock %}

{% block content %}

{% if notification %}
	<div>
		{% if notification == 'invalidTicker' %}
			<p class="alert alert-danger p-3 mb-4 " role="alert">Invalid ticker</p>	
		{% elif notification == 'verified' %}
			<p class="alert alert-success p-3 mb-4 " role="alert">Email verified</p>	
		{% elif notification == 'loggedin' %}
			<p class="alert alert-success p-3 mb-4 " role="alert">Logged in</p>	
		{% endif %}
	</div>
{% endif %}

<h4 class="fw-bold">Add or Remove Stocks</h4>

<br>

<form action="{% url 'app' %}" method="post" class="form-group">
	{% csrf_token %}
	
	<input spellcheck="false", type="text", name="tickerInput" autocomplete="off"placeholder="Enter Ticker" class="form-control ">

	<br>
	<input type="submit" hidden />

	<div class="column">
		{% for ticker in tickers %}
			<div class="row my-1">
				<div class="col-8 fw-bold"> {{ ticker }} </div>
				<button type="submit" name = "tickerRemove" value = {{ ticker }} class="col btn btn-sm btn-dark">Remove</button>
			</div>
		{% empty %}

		<div class="fw-bold">Enter stocks that will appear here</div>
		
		{% endfor %}
	</div>


</form>
<br><br>


<div class="d-flex justify-content-start">
	<a href=/logout/ class="btn btn-sm btn-dark">Log out</a>
</div>


{% endblock %}
