{% extends "stocks/baseCss.html" %}

{% block title %}Enter the system{% endblock %}

{% block content %}
<h1>Login and/or register </h1>
<br><br>

<form action="{% url 'wait' %}" method="post" class='form-group'>
	{% csrf_token %}

	<label>Email</label><br><br>
	<input spellcheck="false", type="text" id="email" name="email" placeholder="Enter Email" class="form-control">	<br><br>

	<label>Password</label><br><br>
	<input type="password" id="password" name="password" placeholder="Enter Password" class="form-control"><br><br>

	<input type="submit" value="Proceed" class="btn btn-dark">
</form>

{% endblock %}
